# misc
.DS_Store
elpa
quelpa
straight

# auto saves
savefile

# python jedi and elpy related
.python-environments
elpy

# early init auto generated
early-init.el

# generated el files
config.el
modules/*.el
modules/code/*.el

# filter the LSP servers which would be installed
.cache

# do not push the latex image cache
modules/ltximg
modules/code/ltximg

# ignore the below transient items
smex-items
tramp
transient

# ignore xenops as it caches the latex preview files generated
xenops

# ignore eshell commands and history
eshell

# ignore LSP workspace locations and org id locations
.lsp-session-v1
.org-id-locations
